<h1>Wellington Indian Community</h1>

<div class="leftcom-image">

<ul id="left-coverimg">
    <li>
       <img src="../images/img3.jpeg" width="350" height="220"/>
    </li>
    <li>
       <img src="../images/img1.jpeg" width="350" height="220"/>
    </li>
    <li>
       <img src="../images/img4.jpeg" width="350" height="220"/>
    </li>
 </ul>
</div>

<div class="rightcom-image">
<ul id="right-coverimg">
    <li>
       <img src="../images/img5.jpg" width="350" height="220"/>
    </li>
    <li>
       <img src="../images/img6.jpeg" width="350" height="220"/>
    </li>
    <li>
       <img src="../images/img8.jpeg" width="350" height="220"/>
    </li>
 </ul>
</div>
<a href="#" >
