
<form method="POST" id ="addNew" action="/newuser" >
name:<input id="name" type="text" name="name"></input>
<br>
<br>
password:<input id="password" type="password" name="password"></input>
<br>
<br>
<input type="submit" id="submitButton" class= "joinbtn" value="Sign in"></input>
</form>
<form method ="POST" >
<label visibilty="false">{{message}}</label>
<label >{{user}}</label>
</form>
